In [1]:
import pandas as pd

In [3]:
blog_2019 = pd.read_csv("blog_2019.csv")

In [5]:
blog_2019 =blog_2019.drop(columns = ["rabel"])

In [7]:
blog_2019["label"] = 0

In [17]:
blog_2019

                                                   body  label
0                     세액공제와 과세이연 받으며 노후를 준비하자![경제도서 추천]      0
1     굴리기 도서 리뷰 | 국민연금만 믿고 있거나, 지금 가입한 연금 상품의 종류와 특성...      0
2                                   경제도서 신간 2030축의전환 완독      0
3     경제도서 찾아보면 대략 다 비슷하게 알만한 내용인 것 같기도 하고... 큰 목차를....      0
4                                          경제도서) 부의골든타임      0
...                                                 ...    ...
2095  무천강 작가의 돈 버는 80가지 습관을 책과 경제를 좋아하는 분들에게 추천드리고 싶...      0
2096                                      경제관련 추천 도서 15      0
2097  1 경제기사 궁금증 300문 300답 곽해선 저, 동아일보사 2 자본주의 EBS자본...      0
2098                                [도서인증] 경제학자의 인문학 서재      0
2099  이 책은 제목처럼 경제학자 박정호님이 '경제'에 대해 쉽게 이해하도록 인문학을 빌어...      0

[2100 rows x 2 columns]

In [18]:
blog_2021 = pd.read_csv("blog_2021.csv", encoding = "utf16")
blog_2021 = blog_2021.drop(columns =["rabel"])

In [14]:
news_2019 = pd.read_csv("news_2019.csv", encoding = "utf16")
news_2021 = pd.read_csv("news_2021.csv", encoding = "utf16")

In [27]:
news_2019 = news_2019.rename(columns = {"rabel":"label"})
news_2019 = news_2019.rename(columns = {"body":"title"})
news_2019

                                                   title  label
0                            기해년 새해 소망 사자성어 '마고소양(麻姑搔痒)'      0
1                              지난해 자영업자 경기체감지수 사상 최대폭 하락      0
2      [가상화폐 뉴스] 01월 01일 23시 30분 비트코인(-0.95%), 질리카(4....      0
3             이마트, '한우 등심' 6개월간 가격 동결.."33% 할인된 가격에 판매"       0
4                  이낙연 총리 "일자리 지표 좋아져..정책기조 유지 부작용 최소화"       0
...                                                  ...    ...
54745                                          [인사]국토교통부      0
54746                                          [인사]우리카드       0
54747           [집중진단] 국위선양 BTS, 무례한 매력 펭수까지..경제효과는? SBS      0
54748                    휴온스 "美FDA서 부피바카인염산염 주사제 품목허가" 머      0
54749              소비자물가 54년 만에 최저.."디플레 아니지만 소비·투자 늘려야"      0

[54750 rows x 2 columns]

In [30]:
news_2021 = news_2021.rename(columns = {"body":"title"})
news_2021

       label                                    title
0          1               세진중공업, 560억 규모 육상플랜트 모듈 수주
1          1       한국조선해양, 지난해 수주액 100억 달러..목표 91% 달성
2          1                  "경기 하락세 1분기에는 다소 완화될 듯"
3          1          울산 소상공인 81%는 '임차인'..보증금 네 번째 높아
4          1                     횡성군, 산모 산후 관리비 지원 확대
...      ...                                      ...
50395      1    모닝라이프, 머니투데이 2021 대한민국 소비자만족지수1위 수상 머
50396      1                LG에너지솔루션, 거래소 상장 예비심사 통과
50397      1              편의점 미니스톱 다시 매물로..입찰 서류 마감 헤
50398      1  일진머티리얼즈, 1조1500억 투자 유치 성공..창사 최대 규모(종합)
50399      1      [간추린 뉴스] 광주공항 이용객, 코로나19 이전 수준 회복 외

[50400 rows x 2 columns]

In [34]:
blog_2021 = blog_2021.rename(columns = {"body":"title"})
blog_2019 = blog_2019.rename(columns = {"body":"title"})
blog_2021.head()
blog_2019.head()

                                               title  label
0                  세액공제와 과세이연 받으며 노후를 준비하자![경제도서 추천]      0
1  굴리기 도서 리뷰 | 국민연금만 믿고 있거나, 지금 가입한 연금 상품의 종류와 특성...      0
2                                경제도서 신간 2030축의전환 완독      0
3  경제도서 찾아보면 대략 다 비슷하게 알만한 내용인 것 같기도 하고... 큰 목차를....      0
4                                       경제도서) 부의골든타임      0

In [35]:
trend_2021 = pd.concat([news_2021, blog_2021])
trend_2021

      label                                              title
0         1                         세진중공업, 560억 규모 육상플랜트 모듈 수주
1         1                 한국조선해양, 지난해 수주액 100억 달러..목표 91% 달성
2         1                            "경기 하락세 1분기에는 다소 완화될 듯"
3         1                    울산 소상공인 81%는 '임차인'..보증금 네 번째 높아
4         1                               횡성군, 산모 산후 관리비 지원 확대
...     ...                                                ...
2095      1  아로마테라피 스터디카페로 김해최고의 스카에 되어 월매출 3000만원 달성한다 © c...
2096      1                              주식도서추천 2030 빅데이터 주식사전
2097      1  요즘 경제 도서를 정말 많이 읽고 보고 공부하고 있습니다. 세상이 어떻게... 경제...
2098      1                    청소년경제도서추천 10만원이 10억 되는 재밌는 돈 공부
2099      1  제가 어린이대상 경제교육을 시작한 것도 같은 맥락일 수도 있지만 여튼 좋은... 제...

[52500 rows x 2 columns]

In [37]:
trend_2019 = pd.concat([news_2019,blog_2019])

In [38]:
trend_2019

                                                  title  label
0                           기해년 새해 소망 사자성어 '마고소양(麻姑搔痒)'      0
1                             지난해 자영업자 경기체감지수 사상 최대폭 하락      0
2     [가상화폐 뉴스] 01월 01일 23시 30분 비트코인(-0.95%), 질리카(4....      0
3            이마트, '한우 등심' 6개월간 가격 동결.."33% 할인된 가격에 판매"       0
4                 이낙연 총리 "일자리 지표 좋아져..정책기조 유지 부작용 최소화"       0
...                                                 ...    ...
2095  무천강 작가의 돈 버는 80가지 습관을 책과 경제를 좋아하는 분들에게 추천드리고 싶...      0
2096                                      경제관련 추천 도서 15      0
2097  1 경제기사 궁금증 300문 300답 곽해선 저, 동아일보사 2 자본주의 EBS자본...      0
2098                                [도서인증] 경제학자의 인문학 서재      0
2099  이 책은 제목처럼 경제학자 박정호님이 '경제'에 대해 쉽게 이해하도록 인문학을 빌어...      0

[56850 rows x 2 columns]

In [79]:
trend = pd.concat([trend_2019,trend_2021])
trend # 모델링에 사용할 데이터셋

                                                  title  label
0                           기해년 새해 소망 사자성어 '마고소양(麻姑搔痒)'      0
1                             지난해 자영업자 경기체감지수 사상 최대폭 하락      0
2     [가상화폐 뉴스] 01월 01일 23시 30분 비트코인(-0.95%), 질리카(4....      0
3            이마트, '한우 등심' 6개월간 가격 동결.."33% 할인된 가격에 판매"       0
4                 이낙연 총리 "일자리 지표 좋아져..정책기조 유지 부작용 최소화"       0
...                                                 ...    ...
2095  아로마테라피 스터디카페로 김해최고의 스카에 되어 월매출 3000만원 달성한다 © c...      1
2096                              주식도서추천 2030 빅데이터 주식사전      1
2097  요즘 경제 도서를 정말 많이 읽고 보고 공부하고 있습니다. 세상이 어떻게... 경제...      1
2098                    청소년경제도서추천 10만원이 10억 되는 재밌는 돈 공부      1
2099  제가 어린이대상 경제교육을 시작한 것도 같은 맥락일 수도 있지만 여튼 좋은... 제...      1

[109350 rows x 2 columns]

In [80]:
trend.iloc[0,0]

"기해년 새해 소망 사자성어 '마고소양(麻姑搔痒)'"

In [85]:
import re

for a in list(range(len(trend))):
    trend.iloc[a,0] = re.sub(r"[^a-zA-Z0-9가-힣]","",str(trend.iloc[a,0]))

In [86]:
trend.to_csv("trend.csv",encoding ="cp949")

                                                  title  label
0                                       기해년새해소망사자성어마고소양      0
1                                  지난해자영업자경기체감지수사상최대폭하락      0
2              가상화폐뉴스01월01일23시30분비트코인095질리카455제로엑스374한국      0
3                             이마트한우등심6개월간가격동결33할인된가격에판매      0
4                             이낙연총리일자리지표좋아져정책기조유지부작용최소화      0
...                                                 ...    ...
2095  아로마테라피스터디카페로김해최고의스카에되어월매출3000만원달성한다craftedbygc...      1
2096                                 주식도서추천2030빅데이터주식사전      1
2097  요즘경제도서를정말많이읽고보고공부하고있습니다세상이어떻게경제나재테크는배워도배워도어렵지않...      1
2098                          청소년경제도서추천10만원이10억되는재밌는돈공부      1
2099  제가어린이대상경제교육을시작한것도같은맥락일수도있지만여튼좋은제목은10만원이10억되는재밌...      1

[109350 rows x 2 columns]

# 머신러닝

In [43]:
!pip install transformers
import transformers

Collecting transformers
  Downloading transformers-4.18.0-py3-none-any.whl (4.0 MB)
Collecting sacremoses
  Downloading sacremoses-0.0.49-py3-none-any.whl (895 kB)
Requirement already satisfied: pyyaml>=5.1 in c:\users\user\anaconda3\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: tqdm>=4.27 in c:\users\user\anaconda3\lib\site-packages (from transformers) (4.62.3)
Requirement already satisfied: numpy>=1.17 in c:\users\user\anaconda3\lib\site-packages (from transformers) (1.20.3)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.5.1-py3-none-any.whl (77 kB)
Requirement already satisfied: regex!=2019.12.17 in c:\users\user\anaconda3\lib\site-packages (from transformers) (2021.8.3)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from transformers) (2.26.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.11.6-cp39-cp39-win_amd64.whl (3.2 MB)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from transformers) (21.0)
Requirement already satisfied: filelock in c:\users\user\anaconda3\lib\site-packages (from transformers) (3.3.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging>=20.0->transformers) (3.0.4)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests->transformers) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->transformers) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->transformers) (1.26.7)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from sacremoses->transformers) (1.16.0)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from sacremoses->transformers) (8.0.3)
Installing collected packages: tokenizers, sacremoses, huggingface-hub, transformers
Successfully installed huggingface-hub-0.5.1 sacremoses-0.0.49 tokenizers-0.11.6 transformers-4.18.0

In [44]:
import pandas as pd
import numpy as np
import urllib.request
import os
from tqdm import tqdm
import tensorflow as tf
from transformers import BertTokenizer, TFBertModel

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
train_data, test_data = train_test_split(trend, test_size=0.2, random_state=42)

In [53]:
train_data = train_data.dropna(how = 'any') # Null 값이 존재하는 행 제거
train_data = train_data.reset_index(drop=True)
print(train_data.isnull().values.any()) # Null 값이 존재하는지 확인

False

In [54]:
test_data = test_data.dropna(how = 'any') # Null 값이 존재하는 행 제거
test_data = test_data.reset_index(drop=True)
print(test_data.isnull().values.any()) # Null 값이 존재하는지 확인

False

In [47]:
print('훈련용 리뷰 개수 :',len(train_data)) # 훈련용 리뷰 개수 출력

훈련용 리뷰 개수 : 87480

In [48]:
print('테스트용 리뷰 개수 :',len(test_data)) # 테스트용 리뷰 개수 출력

테스트용 리뷰 개수 : 21870

In [49]:
tokenizer = BertTokenizer.from_pretrained('klue/bert-base')

Downloading:   0%|          | 0.00/243k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/125 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/289 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/425 [00:00<?, ?B/s]

In [50]:
max_seq_len = 64

In [51]:
def convert_examples_to_features(examples, labels, max_seq_len, tokenizer):
    
    input_ids, attention_masks, token_type_ids, data_labels = [], [], [], []
    
    for example, label in tqdm(zip(examples, labels), total=len(examples)):
        input_id = tokenizer.encode(example, max_length=max_seq_len, pad_to_max_length=True)
        padding_count = input_id.count(tokenizer.pad_token_id)
        attention_mask = [1] * (max_seq_len - padding_count) + [0] * padding_count
        token_type_id = [0] * max_seq_len

        assert len(input_id) == max_seq_len, "Error with input length {} vs {}".format(len(input_id), max_seq_len)
        assert len(attention_mask) == max_seq_len, "Error with attention mask length {} vs {}".format(len(attention_mask), max_seq_len)
        assert len(token_type_id) == max_seq_len, "Error with token type length {} vs {}".format(len(token_type_id), max_seq_len)

        input_ids.append(input_id)
        attention_masks.append(attention_mask)
        token_type_ids.append(token_type_id)
        data_labels.append(label)

    input_ids = np.array(input_ids, dtype=int)
    attention_masks = np.array(attention_masks, dtype=int)
    token_type_ids = np.array(token_type_ids, dtype=int)

    data_labels = np.asarray(data_labels, dtype=np.int32)

    return (input_ids, attention_masks, token_type_ids), data_labels

In [55]:
train_X, train_y = convert_examples_to_features(train_data['title'], train_data['label'], max_seq_len=max_seq_len, tokenizer=tokenizer)
test_X, test_y = convert_examples_to_features(test_data['title'], test_data['label'], max_seq_len=max_seq_len, tokenizer=tokenizer)

100%|██████████████████████████████████████████████████████████████████████████| 87477/87477 [00:56<00:00, 1559.19it/s]
100%|██████████████████████████████████████████████████████████████████████████| 21869/21869 [00:13<00:00, 1592.68it/s]

In [56]:
input_id = train_X[0][0]
attention_mask = train_X[1][0]
token_type_id = train_X[2][0]
label = train_y[0]

In [59]:
import torch

ModuleNotFoundError: No module named 'torch'

In [57]:
model = TFBertModel.from_pretrained("klue/bert-base", from_pt=True)

Downloading:   0%|          | 0.00/424M [00:00<?, ?B/s]

Loading a PyTorch model in TensorFlow, requires both PyTorch and TensorFlow to be installed. Please see https://pytorch.org/ and https://www.tensorflow.org/install/ for installation instructions.

ModuleNotFoundError: No module named 'torch'

In [ ]:
input_ids_layer = tf.keras.layers.Input(shape=(max_seq_len,), dtype=tf.int32)
attention_masks_layer = tf.keras.layers.Input(shape=(max_seq_len,), dtype=tf.int32)
token_type_ids_layer = tf.keras.layers.Input(shape=(max_seq_len,), dtype=tf.int32)

outputs = model([input_ids_layer, attention_masks_layer, token_type_ids_layer])

In [ ]:
class TFBertForSequenceClassification(tf.keras.Model):
    def __init__(self, model_name):
        super(TFBertForSequenceClassification, self).__init__()
        self.bert = TFBertModel.from_pretrained(model_name, from_pt=True)
        self.classifier = tf.keras.layers.Dense(1,
                                                kernel_initializer=tf.keras.initializers.TruncatedNormal(0.02),
                                                activation='sigmoid',
                                                name='classifier')

    def call(self, inputs):
        input_ids, attention_mask, token_type_ids = inputs
        outputs = self.bert(input_ids=input_ids, attention_mask=attention_mask, token_type_ids=token_type_ids)
        cls_token = outputs[1]
        prediction = self.classifier(cls_token)

        return prediction

In [ ]:
model = TFBertForSequenceClassification("klue/bert-base")
optimizer = tf.keras.optimizers.Adam(learning_rate=5e-5)
loss = tf.keras.losses.BinaryCrossentropy()
model.compile(optimizer=optimizer, loss=loss, metrics = ['accuracy'])

In [ ]:
model.fit(train_X, train_y, epochs=2, batch_size=64, validation_split=0.2)

In [ ]:
results = model.evaluate(test_X, test_y, batch_size=1024)
print("test loss, test acc: ", results)

In [ ]:
def sentiment_predict(new_sentence):
  input_id = tokenizer.encode(new_sentence, max_length=max_seq_len, pad_to_max_length=True)

  padding_count = input_id.count(tokenizer.pad_token_id)
  attention_mask = [1] * (max_seq_len - padding_count) + [0] * padding_count
  token_type_id = [0] * max_seq_len

  input_ids = np.array([input_id])
  attention_masks = np.array([attention_mask])
  token_type_ids = np.array([token_type_id])

  encoded_input = [input_ids, attention_masks, token_type_ids]
  score = model.predict(encoded_input)[0][0]

  if(score > 0.5):
    print("{:.2f}% 확률로 긍정 리뷰입니다.\n".format(score * 100))
  else:
    print("{:.2f}% 확률로 부정 리뷰입니다.\n".format((1 - score) * 100))